{% extends 'back.html.twig' %}

{% block title %}Manage Services{% endblock %}

{% block body %}
    <h1>Manage Services</h1>
    <!-- Logic to list services goes here -->
    <a href="{{ path('app_service_new') }}">Create New Service</a>
{% endblock %}