{% extends 'back.html.twig' %}

{% block title %}Manage Categories{% endblock %}

{% block body %}
    <h1>Manage Categories</h1>
    <!-- Logic to list reservations goes here -->
    <a href="{{ path('app_categorie_new') }}">Create New cateorie</a>
{% endblock %}