{% extends 'back.html.twig' %}

{% block title %}Manage Reservations{% endblock %}

{% block body %}
    <h1>Manage Reservations</h1>
    <!-- Logic to list reservations goes here -->
    <a href="{{ path('app_reservation_new') }}">Create New Reservation</a>
{% endblock %}